body {
  background: #e2e2e2;
}

.collapse-btn {
  height: 44px;
  text-align: center;
  display: block;
}
.collapse-btn input[type=checkbox] {
  /*display: none;*/
}

.collapse-btn[type=checkbox] + ul {
  width: 200px;
}

.collapse-btn[type=checkbox]:checked + ul {
  width: 52px;
}

.cd-accordion-menu {
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #fff;
  margin: 0 auto;
}

.cd-accordion-menu ul {
  max-height: 0;
  opacity: 0;
  position: relative;
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.cd-accordion-menu input[type=radio] {
  display: none;
}

.cd-accordion-menu label,
.cd-accordion-menu a {
  position: relative;
  display: block;
  /*padding: 13px 18px 13px 52px;*/
  padding-left: 52px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #333;
  font-size: 14px;
  overflow: hidden;
}

.cd-accordion-menu label:hover,
.cd-accordion-menu a:hover {
  background: #f2f2f6;
}
.cd-accordion-menu ul a {
  text-decoration: none;
}
.cd-accordion-menu label {
  cursor: pointer;
}

.cd-accordion-menu label .nav-icon {
  position: absolute;
  left: 20px;
}
.cd-accordion-menu label .icon-arrow {
  display: inline-block;
  position: absolute;
  right: 18px;
  color: #b8b8b8;
  font-size: 12px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-accordion-menu input[type=radio]:checked + label .icon-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-accordion-menu input[type='radio']:checked + label:before {
  content: " ";
  position: absolute;
  border-left: 3px solid #0A5CFE;
  height: 100%;
  top: 0;
  left: 0;
}
.cd-accordion-menu input[type=radio]:checked + label {
  color: #0A5CFE;
}
.cd-accordion-menu input[type=radio]:checked + label + ul,
.cd-accordion-menu input[type=radio]:checked + label:nth-of-type(n) + ul {
  max-height: 300px;
  opacity: 1;
  z-index: 10;
  transition: max-height 0.3s ease-in;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #e2e2e2;
  padding-left: 18px;
}

@media only screen and (min-width: 600px) {
   
}
