.home-header {
  display: -ms-flexbox;
  -webkit-flex: flex;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 62px;
  background-color: #0957EF;
  z-index: 1000;
}

.home-header .menu {
  display: block;
  position: relative;
  cursor: pointer;
}
.home-header .no-submenu {
  cursor: default !important;
}
.home-header .brand-menu .with-submenu:after {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ddd;
  -webkit-transform: origin(50% 20%);
  transform: origin(50% 20%);
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  content: '';
  display: block;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
}

.home-header .brand-menu:hover .with-submenu:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.home-header a:hover {
  text-decoration: none !important;
}

.home-header .menu-title, 
.home-header .brand-title {
  display: block;
  min-width: 80px;
  height: 62px;
  line-height: 62px;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
  color: #ccc;
  transition: 0.3s background-color;
}
 
.home-header .menu-title:hover {
  background: rgba(200,200,200, 0.2);
  color: #fff;
}

.home-header .menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.home-header .selected {
  color: #fff;
}

.home-header .brand-title {
  width: 150px;
  color: #fff;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  background-color: #0957EF;
  border: none;
  margin: 0;
}

.home-header .menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition: 0.5s padding, 0.5s background;
}

.home-header .menu:not(:hover) > .menu-dropdown {
  padding: 0px 0;
  background: #dddddd;
  z-index: 99;
}

.home-header .menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.home-header .menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.home-header .menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  background: transparent;
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.home-header .menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.home-header .menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 99;
}
.home-header .menu-dropdown li {
  color: #333;
  text-align: center;
}

.home-header .header-list > * {
  float: left;
}

.home-header .header-list {
  height: 60px;
  overflow: hidden;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.home-header .header-list > * + * {
  margin-left: 0;
}

.home-header .site-brand {
  list-decoration: none;
}
.home-header .site-brand,
.home-header .header-list {
  float: left;
  height: 60px;
}

.home-header .call-board {
  display: block;
  float: right;
  width: 160px;
  height: 60px;
  line-height: 60px;
  margin-right: 100px;
  font-size: 16px;
  color: #ddd;
}

.home-header .call-board .icon-alarm {
  margin-right: 5px;
}

/* 重置 tooltip 样式 */
.fui-tip {
  position: fixed;
}
.fui-tip .fui-tip-center {
  background: #fff;
  border-radius: 2px;
  padding: 5px 0px 5px 5px;
  border: 1px solid #e2e2e2;
}

.fui-tip-content a {
  color: #333;
}

.fui-tip-content a:hover {
  text-decoration: none !important;
}

.fui-tip-top, 
.fui-tip-bottom {
  display: none !important;
}

.fui-tip-arrow.fui-tip-arrow-t-l > i.fui-tip-arrow-1,
.fui-tip-arrow.fui-tip-arrow-t-l > i.fui-tip-arrow-2,
.fui-tip-arrow.fui-tip-arrow-t-l > i.fui-tip-arrow-3,
.fui-tip-arrow.fui-tip-arrow-t-l > i.fui-tip-arrow-4,
.fui-tip-arrow.fui-tip-arrow-t-l > i.fui-tip-arrow-5,
.fui-tip-arrow.fui-tip-arrow-t-l > i.fui-tip-arrow-6,
.fui-tip-arrow.fui-tip-arrow-t-l > i.fui-tip-arrow-7 {
  background-color: #fff;
  border-color: #fff;
}