html {
  -webkit-font-smoothing: antialiased; 
  overflow-y: auto;
  background: #f5f5f5;
}
body {
  padding: 0;
  margin: 0;
  font-family: Microsoft Yahei, SimSun, Helvetica;
}

/***
Page container
***/
.page-container {
  margin: 0px;
  padding: 0px;
  padding: 10px 0;
  margin-top: 62px;
  font-family: Microsoft Yahei,SimSun,Helvetica;
}

.page-container #page-content-iframe {
  border-width: 0;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}

.page-header-fixed .page-container {
  margin-top: 42px;  
}

/***
Page content
***/
.page-content {
  margin-top: 0px;
  padding: 0px;
  margin: 0 10px 0 160px;
  background-color: #fff;
  min-width: 1180px;
}


/***
Page sidebar
***/

.page-sidebar {
  position: absolute;
  top: 62px;
  bottom: 0px;
  width: 150px;
}

ul.page-sidebar-menu {
  // page-sidebar
}
ul.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

ul.page-sidebar-menu ul.sub-menu {
  padding-left: 0;
}

ul.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

ul.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

ul.page-sidebar-menu > li:last-child > a,
ul.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}

ul.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 0 12px 0px 12px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  height: 33px;
  line-height: 33px;
}

.page-sidebar-fixed ul.page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

ul.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none; 
}

ul.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}

ul.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
}  

ul.page-sidebar-menu > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  float: right;
  position: absolute;
  right:0px;
  top:8px;
}

.page-sidebar ul > li > a > .arrow:before {
   float: right;
   margin-right: -2px;
   display: inline;
   font-size: 12px;
   font-family: iconfont;
   height: auto;
   content: "\e60d";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 3px;
   display: inline;
   font-family: iconfont;
   height: auto;
   font-size: 12px;
   content: "\e9ac";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0;
}

ul.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 30px !important;
  text-decoration: none;
  font-size: 12px;
  background: none;
  height: 32px;
  line-height: 32px;
}

/* 3rd level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow:before   {  
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: iconfont;
   height: auto;
   content: "\e60d";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: iconfont;
   height: auto;
   font-size: 16px;
   content: "\e9ac";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
  display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 60px;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 80px;
}

ul.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu > li.active ul.sub-menu {
  display: block;
}


ul.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}


/***
Sidebar toggler(show/hide)
***/

.page-sidebar .sidebar-toggler {
  cursor: pointer;
  height: 40px;
  line-height: 45px;
  text-align: center;
}
.page-sidebar .sidebar-toggler .iconfont:before {
  font-family: iconfont;
  height: auto;
  content: "\e71e";
  font-weight: 300;
  text-shadow:none;
  font-size: 20px;
}

.sidebar-toggler:hover { 
  filter: alpha(opacity=100);
  opacity: 1;
}

.page-sidebar-closed  ul.page-sidebar-menu ul.sub-menu li {
  padding-left: 0;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a .selected {
  right: -3px !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a > .title,
.page-sidebar-closed ul.page-sidebar-menu > li > a > .arrow {
  display: none !important;
}

.page-sidebar-closed .sidebar-toggler .iconfont:before {
  font-family: iconfont;
  height: auto;
  font-size: 20px;
  content: "\e71d";
  font-weight: 300;
  text-shadow:none;
}

.page-sidebar-closed ul.page-sidebar-menu {
  width: 35px !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a {
  padding-left: 10px;
}

.page-sidebar-fixed.page-sidebar-closed ul.page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover {
  width: 225px;
  position: relative !important;
  z-index: 2000;
  display: block !important;
}

.page-sidebar-closed ul.page-sidebar-menu > .toggler:hover {
  width: 35px;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover .selected {
  display: none;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > a > i {
  margin-right: 10px;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover .title {
  display: inline !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > .sub-menu {
  display: none !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu {  
  width: 189px;
  position: absolute;
  z-index: 2000;
  left: 36px;
  margin-top: 0;
  top: 100%;
  display: block !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu,
.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu {
  width: 189px;
}

/* 2rd level sub menu*/
.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > a {
  padding-left: 15px !important;
}

/* 3rd level sub menu*/
.page-sidebar-closed ul.page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > a {  
  padding-left: 30px !important;
}

/* 4rd level sub menu*/
.page-sidebar-closed ul.page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > .sub-menu > li > a {  
  padding-left: 45px !important;
}

/* sidebar container */
 
.page-sidebar-closed .page-sidebar {
  width: 35px;
}

.page-sidebar-closed  .page-content {
  margin-left: 42px !important;
}

.page-sidebar-none .page-content {
  margin-left: 12px !important; 
}

.page-sidebar {
  background-color: #fff;
}
.page-sidebar-fixed .page-content {
  border: 0 !important;
}
.page-sidebar-fixed .page-sidebar {
  border-right: 1px solid #e2e2e2 !important;
}


ul.page-sidebar-menu > li > a {
  color: #000 !important;
  font-weight: 400;
}

ul.page-sidebar-menu > li:first-child > a {
}

ul.page-sidebar-menu > li:last-child > a {
}

ul.page-sidebar-menu > li a i {
  color: #999 !important;
  vertical-align: middle;
}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #eee;
}
ul.page-sidebar-menu > li.active > a .selected {
  right:-7px;
  top:0px;
  width: 7px;
  height: 39px;
}  
ul.page-sidebar-menu > li.active i {
  color: #fff !important;
}
.page-sidebar-fixed ul.page-sidebar-menu > li.active > a .selected {
  display: none;
}
ul.page-sidebar-menu > li.active > a{
  background: #0957EF !important;
  border-top-color: transparent !important;
  color:#fff !important;
}  
ul.page-sidebar-menu > li.active > a i {
  color: #fff;
}
ul.page-sidebar-menu > li > a > .arrow:before,
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #ccc !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before, 
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #fff !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}

ul.page-sidebar-menu ul.sub-menu > li > a {
  font-weight: 400 !important;
  color: #666 !important;
}
ul.page-sidebar-menu ul.sub-menu > li.active > a,
ul.page-sidebar-menu ul.sub-menu > li > a:hover {
  color: #818181 !important;
  background: #efefef !important; 
}

ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #ccc !important;
}

/* sub menu links effects */
ul.page-sidebar-menu ul.sub-menu > li.active > a,
ul.page-sidebar-menu ul.sub-menu > li > a:hover,
ul.page-sidebar-menu ul.sub-menu > li.open > a {
  color: #818181 !important;
  background: #efefef !important; 
}
ul.page-sidebar-menu ul.sub-menu > li > a i {
  color: #bbb !important;
}

/***
Sidebar toggler
***/
.sidebar-toggler .iconfont {
  color: #757575;
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
  background-color: #fbfbfb !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {  
  background-image: url("../image/sidebar-search-close-light.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #fbfbfb;
}
